
    <ion-card class="sc-ion-card-ios-h sc-ion-card-ios-s ios hydrated">
        <img src="assets/encabezado.jpg">
        <ion-card-header class="ios hydrated">
          <ion-card-title class="ios hydrated" role="heading" aria-level="2" style="color: #FFBE00">MENÚ PRINCIPAL</ion-card-title>
        </ion-card-header>
        
      </ion-card>


<ion-content padding>
  <ion-button color="primary" style="width: 60%; height: 30%; margin-left: 20%" routerLink="/tabs/tab2">
    
    <h4>HABITACIONES</h4>  
  </ion-button>
 

</ion-content>