<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background-color:#F2F2FA;">
  <img src="assets/logo.png" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <ion-button color="warning" expand="block" routerLink="/tabs/tab2">HABITACIONES
  </ion-button>
  <ion-button color="warning" expand="block" routerLink="/tabs/tab3">PUERTAS
  </ion-button>

  <div id="page-container1">
    <img src="assets/casa.png" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
</ion-content>